networkx==2.5.1
typing-extensions==4.1.1

# Dev Dependencies
black==22.1.0
docstring-parser==0.13
ebbe==1.8.0
mypy==0.931
pandas==1.1.5
pandas-stubs==1.2.0.49
pytest==7.0.1

# Notebook Dependencies
ipysigma
jupyterlab
matplotlib
tqdm

# Build Dependencies
setuptools
twine
wheel
